$breadcrum-item-spacing: rem(5);

.c-breadcrumb {
    margin: 0 0 $global-margin;

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 $breadcrum-item-spacing*-1;
        padding: 0;
        list-style: none;
    }

    &__item {
        display: block;
        flex: auto 0 0;
    }

    &__link {
        display: inline-block;
        padding: rem(4) $breadcrum-item-spacing;
        line-height: 1.4;
        font-size: rem(14);
        color: map-get($colors, gray);
    }

    &__item + &__item:before {
        content: "";
        display: inline-block;
        width: rem(10);
        height: rem(11);
        margin-left: rem(5);
        margin-right: rem(-1);
        background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 62"><path fill="#{map-get($colors, 'body-text')}" fill-rule="nonzero" d="M7.5938.39064L.6562 7.60939l24.25 23.40623-24.25 23.375 6.9376 7.2187 28-26.9999 3.75-3.5938-3.75-3.62498z"/></svg>');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        opacity: 0.25;
    }
}
