.c-callout {
    color: map-get($colors, gray);
    display: block;
    margin: 0 0 $global-margin;
    padding: rem(15 20);
    border-left: rem(3) solid transparent;

    &__title {
        display: block;
        margin: rem(0 0 5);
        text-transform: uppercase;
        letter-spacing: 1.1;
    }
    a:hover{
        color: lightendarken(map-get($colors, 'link-color'), 15%);
    }

    &--info{
        background-color: map-get($colors, 'callout-info-bg');
        border-color: map-get($colors, 'callout-info-border');
        a{
            color: map-get($colors, 'link-color');
        }
    }

    &--warning {
        background-color: map-get($colors, 'callout-warning-bg');
        border-color: map-get($colors, 'callout-warning-border');
        a{
            color: #d09c13;
        }
    }

    &--alert {
        background-color: map-get($colors, 'callout-alert-bg');
        border-color: map-get($colors, 'callout-alert-border');
        a{
            color: #d26d69;
        }
    }

    &--success {
        background-color: map-get($colors, 'callout-success-bg');
        border-color: map-get($colors, 'callout-success-border');
        a{
            color:#3e8554;
        }
    }
}
