.c-callout {
    color: color(gray);
    display: block;
    margin: 0 0 $global-margin;
    padding: rem(15 20);
    background-color: color(callout-info-bg);
    border-left: rem(3) solid color(callout-info-border);
    a{
        color: color(link-color);
    }

    &__title {
        display: block;
        margin: rem(0 0 5);
        text-transform: uppercase;
        letter-spacing: 1.1;
    }
    a:hover{
        color: color(link-hover);
    }

    &--info{
        background-color: color(callout-info-bg);
        border-color: color(callout-info-border);
        a{
            color: color(link-color);
        }
    }

    &--warning {
        background-color: color(callout-warning-bg);
        border-color: color(callout-warning-border);
        a{
            color: color(callout-warning-link);
        }
    }

    &--alert {
        background-color: color(callout-alert-bg);
        border-color: color(callout-alert-border);
        a{
            color: color(callout-alert-link);
        }
    }

    &--success {
        background-color: color(callout-success-bg);
        border-color: color(callout-success-border);
        a{
            color: color(callout-success-link);
        }
    }
}
