.c-nav {
    margin: rem(0 0 0 -20);
    padding: 0;
    list-style: none;

    &__item {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: rem(15);
        line-height: 1.4;

        a {
            position: relative;
            display: block;
            margin-bottom: rem(10);
            padding: rem(0 0 0 20);
            text-decoration: none;
            color: map-get($colors, 'sidebar-text');
            transition: color .2s ease-in-out;

            &:hover {
                color: map-get($colors, primary);
            }
        }

        &--activepage {

            > a {
                position: relative;
                color: map-get($colors, primary);

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: rem(-5);
                    left: 0;
                    height: 100%;
                    height: calc(100% + #{rem(10)});
                    width: rem(5);
                    background: map-get($colors, primary);
                }
            }

        }

        &--level1 > a {
            font-size: rem(16);
            font-weight: 700;
            padding-left: rem(40);
        }

        &--level2 > a {
            padding-left: rem(60);
        }

        &--level3 > a {
            padding-left: rem(80);
        }

        &--level4 > a {
            padding-left: rem(100);
        }

        &--level5 > a {
            padding-left: rem(120);
        }

        &--level6 > a {
            padding-left: rem(140);
        }

        &--level7> a {
            padding-left: rem(160);
        }

        /*
        &--has-children > a {
            position: relative;
            &:before {
                content: "";
                display: inline-block;
                position: absolute;
                top: rem(1);
                height: rem(20);
                width: rem(20);
                margin: rem(0 0 0 -23);
                background: svg-url('');
                background-repeat: no-repeat;
                background-size: rem(7);
                background-position: center center;
                opacity: 0.6;
                transform: rotate(-90deg);
            }
        }*/

        &--collapsed {
            > ul {
                display: none;
            }
            > a > .c-nav__chevron {
                top: rem(1);
                transform: rotate(90deg);
            }
        }

    }

    &__chevron {
        display: inline-block;
        position: absolute;
        top: 0;
        height: rem(21);
        width: rem(21);
        padding: rem(5);
        margin: rem(0 0 0 -23);
        fill: rgba(map-get($colors, 'body-text'), 0.6);
        transform: rotate(-90deg);
        vertical-align: middle;
    }


    &__sublist {
        margin: 0 0 $global-margin*2;
        padding: 0;
    }
}
