.c-nav {
    margin: rem(0 0 0 -20);
    padding: 0;
    list-style: none;

    &__item {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: rem(15);
        line-height: 1.4;

        a {
            position: relative;
            display: block;
            margin-bottom: rem(10);
            padding: rem(0 0 0 20);
            text-decoration: none;
            font-weight: 500;
            color: map-get($colors, slateGray);
            transition: all .2s ease;

            &:hover {
                color: map-get($colors, dark);
                transform: translateX(2px);
            }
        }

        &--activepage {

            > a {
                position: relative;
                color: #314a97;
                transition: all .2s ease;
                padding: 0.35rem 0 0.35rem 3.5rem;

                &:after, &:before {
                    border: 0 solid #e2e8f0;
                }

                &:hover{
                    transform: translateX(0);
                }

                .inset{
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    border-radius: .25rem;
                    opacity: .25;
                    background-color: #b2c9f5;
                }
            }

        }

        &--level1 > a {
            font-size: rem(16);
            font-weight: 700;
            padding-left: rem(30);
        }

        &--level2 > a {
            padding-left: rem(50);
        }

        &--level3 > a {
            padding-left: rem(70);
        }

        &--level4 > a {
            padding-left: rem(90);
        }

        &--level5 > a {
            padding-left: rem(110);
        }

        &--level6 > a {
            padding-left: rem(130);
        }

        &--level7> a {
            padding-left: rem(150);
        }

        /*
        &--has-children > a {
            position: relative;
            &:before {
                content: "";
                display: inline-block;
                position: absolute;
                top: rem(1);
                height: rem(20);
                width: rem(20);
                margin: rem(0 0 0 -23);
                background: svg-url('');
                background-repeat: no-repeat;
                background-size: rem(7);
                background-position: center center;
                opacity: 0.6;
                transform: rotate(-90deg);
            }
        }*/

        &--collapsed {
            > ul {
                display: none;
            }
            > a > .c-nav__chevron {
                top: rem(1);
                transform: rotate(90deg);
            }
        }

    }

    &__chevron {
        display: inline-block;
        position: absolute;
        top: 0;
        height: rem(21);
        width: rem(21);
        padding: rem(5);
        margin: rem(0 0 0 -23);
        fill: rgba(map-get($colors, 'body-text'), 0.6);
        transform: rotate(-90deg);
        vertical-align: middle;
    }


    &__sublist {
        margin: 0 0 $global-margin*2;
        padding: 0;
    }
}
