.c-nav {
    margin: rem(0 0 0 -20);
    padding: 0;
    list-style: none;

    &__item {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: rem(15);
        line-height: 1.4;

        a {
            position: relative;
            display: block;
            margin-bottom: rem(10);
            padding: rem(0 0 0 20);
            text-decoration: none;
            font-weight: 500;
            color: color(slateGray);
            transition: all .2s ease;

            &:hover {
                color: color(link-hover);
                transform: translateX(2px);
            }
        }

        &--activepage {
            .c-nav__chevron {
                top: 0.35rem;
            }
            > a {
                position: relative;
                color: color(nav-active);
                padding: 0.35rem 0 0.35rem 3.5rem;
                transition: all .2s ease;

                &:after, &:before {
                    border: 0 solid color(nav-active-border);
                }

                &:hover{
                    transform: translateX(0);
                }

                .inset{
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    border-radius: .25rem;
                    opacity: .25;
                    background-color: color(nav-active-bg);
                }
            }

        }

        &--level1 > a {
            font-size: rem(16);
            font-weight: 700;
            padding-left: rem(30);
        }

        &--level2 > a {
            padding-left: rem(50);
        }

        &--level3 > a {
            padding-left: rem(60);
        }

        &--level4 > a {
            padding-left: rem(80);
        }

        &--level5 > a {
            padding-left: rem(100);
        }

        &--level6 > a {
            padding-left: rem(120);
        }

        &--level7> a {
            padding-left: rem(140);
        }

        &--collapsed {
            > ul {
                display: none;
            }
            > a > .c-nav__chevron {
                top: rem(1);
                transform: rotate(90deg);
            }
        }

    }

    &__chevron {
        display: inline-block;
        position: absolute;
        top: 0;
        height: rem(21);
        width: rem(21);
        padding: rem(5);
        margin: rem(0 0 0 -23);
        fill: color(body-text-muted);
        transform: rotate(-90deg);
        vertical-align: middle;
    }


    &__sublist {
        margin: 0 0 $global-margin*2;
        padding: 0;
    }
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
    width: 1rem;
    height: 1rem;
    border: .25rem solid transparent;
    border-radius: .5rem;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 1rem color(scrollbar);
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 0 1rem color(scrollbar-hover);
}

::-webkit-resizer, ::-webkit-scrollbar-corner {
    background-color: transparent;
}
