.c-nav {
    margin: rem(0 0 0 -15);
    padding: 0;
    list-style: none;

    &__item {
        margin: rem(0 0 0 15);
        padding: 0;
        list-style: none;
        font-size: rem(15);
        line-height: 1.4;

        a {
            display: block;
            margin-bottom: rem(10);
            text-decoration: none;
            color: $body-font-color;
            transition: color .2s ease-in-out;

            &:hover {
                color: map-get($colors, primary);
            }
        }

        &--level1 > a {
            font-size: rem(16);
        }

        &--has-children > a {
            font-weight: 700;
        }

    }

    &__sublist {
        margin: 0 0 $global-margin*2;
        padding: 0;
    }
}
