.l-main-search__container {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
}

.l-main-search__result, .l-live-search__result {
    border-top: 1px solid map_get($colors, 'header-bg');
    padding-top: 1rem;
    margin-top: 1rem;

    .c-breadcrumb {
        margin-bottom: 0;
    }

    h4 {
        margin-top: 0;
    }
}

.l-main-search__match, .l-live-search__match {
    summary {
        float: right;
        color: #777;
    }
}

.l-search__pagination-holder {
    list-style: none;
    padding: 0;
    text-align: center;
}
.l-search-page {
    display: inline-block;
}
.l-search-page__link {
    display: block;
    cursor: pointer;
    padding: .5rem 1rem;
    line-height: initial;
    background: #e2e8f0;
    color: map-get($colors, mirage);
    border-radius: 0.25rem;
    border: 1px solid #e2e8f0;

    &:hover, &:focus{
        background: map_get($colors, slateGray);
        border: 1px solid map_get($colors, slateGray);
        color: map_get($colors, light);
    }

    &--active {
        background: map_get($colors, sapphire);
        border: 1px solid map_get($colors, sapphire);
        color: map_get($colors, light);
    }
}

.c-searchform--resultspage {
    margin-bottom: 1rem;
    .c-searchform__input {
        border: 1px solid map_get($colors, 'header-bg');
    }
}
.l-search__meta {
    color: map_get($colors, gray);
}


$ignoredColor: map_get($colors, warning);
.l-search__ignored {
    border-left: rem(8) solid $ignoredColor;
    padding: rem(15 20);
    background-color: rgba($ignoredColor, 0.3);
    color: darken($ignoredColor, 50%);
}
$tipColor: map_get($colors, primary);
.l-search__tip {
    border-left: rem(8) solid $tipColor;
    padding: rem(15 20);
    background-color: rgba($tipColor, 0.3);
    color: darken($tipColor, 50%);
}

$errorColor: map_get($colors, alert);
.l-search__no_results {
    border-left: rem(4) solid $errorColor;
    padding: rem(15 20);
    background-color: rgba($errorColor, 0.3);
    color: darken($errorColor, 50%);

    &--live {
        margin: 0;
    }
}

.c-searchform--header {
    z-index: 5;
}
.l-live-search__container {
    position: absolute;
    background: #fff;
    width: 100%;
    display: none;
    border-radius: 0 0 5px 5px;
    margin-top: -3px;
    z-index: 4;
    box-shadow: 0 2px 7px 2px rgba(0,0,0,0.5);

    &--visible {
        display: block;
    }

    &--loading {
        pointer-events: none;
        opacity: 0.5;
    }
}
.l-live-search__results {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 70vh;
    overflow-y: scroll;
}
.l-live-search__result {
    padding: 0;
    margin: 0;
    position: relative;
}
.c-live-search__result-crumbs {
    position: absolute;
    top: 0.7rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 1rem;
    height: 1.6em; // = line-height
    overflow: hidden;
    font-weight: 500;
}
.c-live-search__result-link {
    color: map-get($colors, sapphire);
    display: block;
    padding: 2.2rem 1rem 0.7rem;
    font-weight: 500;
    &:hover, &:focus, .l-live-search__result--selected & {
        background: #f0f6ff;
    }
}
.l-live-search__search {
    margin: 0;
    a {
        font-weight: 500;
        display: block;
        padding: 0.7rem 1rem;
        width: 100%;
        color: map_get($colors, 'header-text');
        background: map_get($colors, 'header-bg');
        border-radius: 0 0 5px 5px;
    }
}

.size_code{
    font-size: 1em;
}
