.c-searchform {
    position: relative;
    width: 100%;

    @include breakpoint(small only) {
        margin-top: 1rem;
    }

    &__input {
        display: block;
        width: 100%;
        border: none;
        border-radius: .5rem;
        padding: rem(10 35 10 20);
        line-height: 1.5!important;
        font-family: inherit;
        font-size: 100%;
        transition: all .1s ease-in;
        background-color: #edf2f7;

        &:focus{
            border-color: #e2e8f0;
            background-color: #fff;
        }
    }

    &__button {
        position: absolute;
        top: rem(0);
        right: rem(10);
        bottom: rem(0);
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
    }

    &__icon {
        width: rem(24);
        height: rem(20);
        fill: #717171;
        vertical-align: middle;
    }
}

// Undo helpers.scss:14 for the searchform target; without this there's an unclickable area before the search.
#searchform:target:before {
    content: "";
    height: 0;
    margin: 0;
}
