<ul class="c-nav{% if subnav == true %}__sublist{% endif %}">
{% for item in children %}
    <li class="{{ item.classes }} c-nav__item--level{{ item.level }}">
        <a href="{{ item.uri }}">
            {{ item.title }}
        </a>
        {% if item.children|length > 0 %}
            {% include "partials/nav.twig" with { children: item.children, subnav: true } %}
        {% endif %}
    </li>
{% endfor %}
</ul>
