/* Basic Reset */
*, *:before, *:after { margin: 0; padding: 0; box-sizing: border-box; }


/* Prevent certain elements from using their default border/bg styles */
form, input, textarea, table, button, select, optgroup, option {
  font: inherit; color: inherit; background: transparent;
  border-image: url('noise.png') 2 stretch;
}


.container {
  max-width: 1280px;
  margin: 2em auto 0;
}

header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  vertical-align: middle;

  .logo {
    flex: 1;
  }
  .menu {
    flex: 2;
    text-align: right;

    a {
      padding: 0.5em 1em;
      display: inline-block;
    }
  }
}

.content-container {

}
.sidebar {
  padding: 2em 2em 2em 0;
  opacity: 0.6;
  transition: opacity 0.5s;

  &:hover, &:focus, &:focus-within {
    opacity: 1;
  }
}
.content {
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  border: 1px solid #bbb;

  img {
    max-width: 100%;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 3px;
  }
}


.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.flex {
  > * > .wf-image {
    height: 100%;
  }
}

@media (min-width: 768px) {
  .content-container {
    display: flex;
  }

  .content {
    flex: 2 0 60%;
    max-width: 60%;
  }
  .sidebar {
    flex: 1 0 40%;
    max-width: 40%;
  }
  .single-column {
    margin: 0 auto;
    max-width: 90%;
    .content {
      max-width: 100%;
    }
  }
}
@media (min-width: 1080px) {
  .single-column {
    max-width: 80%;
  }
}
@media (min-width: 1280px) {
  .content {
    flex: 3 0 70%;
    max-width: 70%;
  }
  .sidebar {
    flex: 1 0 30%;
    max-width: 30%;
  }
  .single-column {
    max-width: 70%;
  }
}
@media (min-width: 1460px) {
  .container {
    max-width: 1440px;
  }
  .content {
    flex: 3 0 80%;
    max-width: 80%;
  }
  .sidebar {
    flex: 1 0 20%;
    max-width: 20%;
  }

}
ul {
  padding-left: 1.5em;
  padding-bottom: 1em;
}
.p-1 {
  padding: 1em;
}
.p-2 {
  padding: 2em;
}
.p-3 {
  padding: 3em;
}
.p-4 {
  padding: 4em;
}
a {
  color: #333;
  color: blue;
  text-decoration: underline;
  &:hover, &:active {
    color: darkblue;
  }
}

.bg-grey {
  background-color: #eee;
}
#footerfooter {
  max-width: 1280px;
  margin: 0 auto;
}

.nav-menu-wrapper {
  padding-bottom: 0;
  > li.active {
    > a {
      font-weight: bold;
      text-decoration: none;
    }
    //&.has-children ~ li:not(.active) {
    //  display: none;
    //}
  }
}



/*! Some generic typography, based on Typebase (http://devinhunt.github.io/typebase.css/) v0.1.0 | MIT License */
/* Setup */
html {
  font-family: 'Helvetica Neue', serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background-color: #eee;
}
p, pre {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
pre, code {
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre {
  overflow-x: scroll;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;

  &:first-child {
    margin-top: 0;
  }
}
h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}
h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}
h3 {
  font-size: 1.414rem;
}
h4 {
  font-size: 0.707rem;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}
/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
/* Code blocks */
code {
  vertical-align: baseline;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}

/* Wireframing stuff  */



.wf-image {
  background-image: url('imgwf.png');
  background-size: 100% 100%;
  vertical-align: middle;

  > * {
    background-color: rgba(255,255,255, 0.6);
  }
}
.wf-inline-blocks {
  > * {
    display: inline-block;
    height: 100%;
  }
}
.btn {
  background-color: #4187c8;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 0.5em 1em;
  display: inline-block;
  text-decoration: none;

  &:hover, &:focus {
    border-color: #0b1b6b;
    color: #fff;
  }

  &.full {
    display: block;
    width: 100%;
  }
}

/* Wireframe Borders */
[class*='wf'], [class*='wf-child'] > * {
  border: 0px solid #aaa;
  border-image: url('noise.png') 2 stretch;
}
/* All sides */
.wf, .wf-child > * { border-width: 2px; }
/* Single sides */
.wf-top, .wf-child-top > * { border-top-width: 2px; }
.wf-right, .wf-child-right > * { border-right-width: 2px; }
.wf-bottom, .wf-child-bottom > * { border-bottom-width: 2px; }
.wf-left, .wf-child-left > * { border-left-width: 2px; }