.u-show-for-sr, .u-show-on-focus {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

// make anchor tags work with fixed header
:target:before {
    content:"";
    display:block;
    height: ($header-height+$main-margin-top); /* fixed header height*/
    margin: (($header-height+$main-margin-top)*-1) 0 0; /* negative fixed header height */
}

.is-brokenlink {
    color: map-get($colors, 'link-broken');
    text-decoration: line-through;

    &:after {
        content: " (link broken)";
        text-decoration: none;
    }
}

// style external links
//.o-content a[href*="//"]:not([href*="docs.modx.org"]),
.is-externallink {
    &:after {
        content: "";
        display: inline-block;
        width: rem(10);
        height: rem(10);
        margin: rem(-1 2 0 4);

        background: svg-url('
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 76">
            <g fill="#000" fill-rule="nonzero">
                <path d="M27.37215 46.13316994L72.34371002 1.16160993l2.61627 2.61627L29.98842 48.74943995z"/>
                <path d="M75.6 28.7h-3.8V4.4H47.4V.6h28.2zM68.1 75.6H.6V8.1h33.7v3.8h-30v60h60v-30h3.8z"/>
            </g>
            </svg>
        ');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.u-no-margin {
    margin: 0 !important;
}
.u-no-margin--top {
    margin-top: 0 !important;
}
.u-no-margin--bottom {
    margin-bottom: 0 !important;
}

.u-no-padding {
    padding: 0 !important;
}
.u-no-padding--top {
    padding-top: 0 !important;
}
.u-no-padding--bottom {
    padding-bottom: 0 !important;
}

html.no-js {
    .u-show-with-js {
        display: none !important;
    }
}
html.js {
    .u-hide-with-js {
        display: none !important;
    }
    .u-hide-with-js-sr {
        @extend .u-show-for-sr;
    }
}
