html, body {
    width: 100%;
    overflow-x: hidden;
    background: map-get($colors, 'body-bg');
    scroll-behavior: smooth;
}

.l-app {
    padding-top: $header-height;
    background: map-get($colors, 'body-bg');
    //filter: invert(100%);

    &--has-sidebar {
        @include breakpoint(large) {
            padding-left: $sidebar-width;
        }
    }
}

.l-header {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: $header-height;
    background: map-get($colors, 'header-bg');
    border-bottom: 1px solid lightendarken(map-get($colors, border), 10%);
    box-shadow: rem(0 3 8 0) rgba(116, 129, 141, 0.1);

    &__logo {
        flex: auto 0 0;
        position: relative;

        @include breakpoint(xlarge) {
            flex: $sidebar-width 0 0;
            flex: calc(#{$sidebar-width} - #{rem(30)}) 0 0;
        }
    }

    &__search {
        margin: rem(0 30);
        flex-basis: rem(725);
        flex-grow: 0;
        flex-shrink: 1;
        position: relative;

        @include breakpoint(xlarge) {
            margin: rem(0 50 0 75);
        }
    }
}

.l-sidebar {
    outline: none;
    display: block;
    position: fixed;
    top: $header-height;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    z-index: 1;
    padding: $main-margin-top rem(20) $global-margin;
    background: map-get($colors, 'sidebar-bg');
    border-right: 1px solid map-get($colors, border);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    transition: transform .4s ease-in-out;

    @include breakpoint($sidebar-breakpoint) {
        display: block;
        position: fixed;
        top: $header-height;
        bottom: 0;
        left: 0;
        width: $sidebar-width;
        transform: translateX(0);
        transition: none;
    }
}

#nav:target {
    transform: translateX(0);
}


.l-main {
    position: relative;
    margin: $main-margin-top rem(20) $global-margin;

    @include breakpoint(medium) {
        margin: $main-margin-top rem(50) $global-margin rem(75);
    }

    &__title {
        max-width: rem(1000);
    }

    &__contentwrapper {
        @include breakpoint(xlarge) {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
        }
    }

    &__content {
        @include breakpoint(medium) {
            padding-right: rem(25);
        }

        @include breakpoint(xlarge) {
            flex-basis: rem(750);
            flex-grow: 0;
            flex-shrink: 1;
            order: 1;
            min-width: 0;
        }

        > :first-child {
            margin-top: 0;
        }
    }

    &__toc {
        @include breakpoint(xlarge) {
            flex-basis: rem(250);
            flex-grow: 1;
            flex-shrink: 0;
            order: 2;
            padding: rem(0 0 0 25);
        }
    }

}

.l-footer {
    flex-basis: 100%;
    flex-shrink: 0;
    order: 3;
    padding: rem(30 15 15);
    margin: rem(45 0 0);
    border-top: 1px solid map-get($colors, border);

    @include breakpoint(medium) {
        padding: rem(30 75 15);
    }
}
