html, body {
    width: 100%;
    overflow-x: hidden;
}

.l-app {
    padding-top: $header-height;
    @include breakpoint(large) {
        padding-left: rem(320);
    }
}

.l-header {
    z-index: 2;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
    background: $body-background;
    border-bottom: 1px solid darken($border-color, 10%);
    box-shadow: rem(0 3 8 0) rgba(116, 129, 141, 0.1);
}

.l-sidebar {
    display: none;
    z-index: 1;
    padding: ($main-margin-top + rem(10)) rem(20) $global-margin;
    background: $sidebar-background;
    border-right: 1px solid $border-color;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;

    @include breakpoint(large) {
        display: block;
        position: fixed;
        top: $header-height;
        bottom: 0;
        left: 0;
        width: rem(320);
    }
}

.l-content {
    display: flex;
    flex-direction: column;
    margin: $global-margin rem(20);

    @include breakpoint(medium) {
        margin: $main-margin-top rem(75) $global-margin;
    }

    @include breakpoint(xlarge) {
        flex-direction: row;
    }
}

main {
    flex-basis: rem(750);
    flex-grow: 0;
    flex-shrink: 1;

    @include breakpoint(xlarge) {
        order: 1;
    }
}

.l-toc {
    flex-basis: 100%;
    flex-shrink: 1;
    margin: rem(50) 0 $global-margin;

    @include breakpoint(xlarge) {
        flex-basis: rem(320);
        margin-left: rem(75);
        order: 2;
    }
}

.l-footer {
    flex-basis: 100%;
    flex-shrink: 0;
    order: 3;
    margin: rem(30 15 15);

    @include breakpoint(medium) {
        margin: rem(45 75 15);
    }
}
