.o-logo {
    margin: rem(0 15);
    padding: rem(0);
    &__image {
        display: block;
        width: rem(170);
        height: $header-height;
        fill: map-get($colors, 'header-text');

        @include breakpoint(medium) {
            width: rem(200);
        }
    }
}

.o-docmeta {
    margin: rem(-15) 0 $global-margin*2;
}

.o-sidebar-heading {
    display: block;
    margin: 0 0 $global-margin;
    font-size: rem(20);
    font-weight: 700;
}


.o-openmenu, .o-search {
    display: block;
    margin: rem(0);
    padding: rem(0 15 0 30);

    @include breakpoint($sidebar-breakpoint) {
        display: none;
    }

    &__icon {
        display: block;
        width: rem(29);
        height: $header-height;
        fill: map-get($colors, 'header-text');
    }

    /*
    &--opened {
        .o-openmenu__icon {
            fill: transparent;
        }
    }
    */
}
@include breakpoint(small only) {
    .o-search {
        margin-left: auto !important;
    }
}
.o-closemenu {
    z-index: 1;
    position: absolute;
    top: rem(10);
    right: rem(10);
    display: block;
    padding: rem(15 15);

    @include breakpoint($sidebar-breakpoint) {
        display: none;
    }

    &__icon {
        display: block;
        width: rem(30);
        height: rem(30);
        fill: map-get($colors, 'primary');
    }
}
