.o-logo {
    margin: rem(0 20);
    &__image {
        width: rem(240);
        height: auto;
        max-height: 100%;
    }
}

.o-docmeta {
    margin: rem(-20) 0 $global-margin*2;
}

.o-sidebar-heading {
    display: block;
    margin: rem(5 0) $global-margin;
    font-size: rem(20);
    font-weight: 700;
}

.o-toc-title {
    display: block;
    margin: 0 0 rem(5);
    font-size: rem(12);
    font-weight: 700;
    color: map-get($colors, gray);
    text-transform: uppercase;
}

.o-content {
    > *:first-child {
        margin-top: 0;
    }
}
