.o-logo {
    padding: rem(0 30 0 15);
    &__image {
        display: block;
        width: rem(200);
        height: $header-top-height;
        fill: map-get($colors, 'header-text');
    }
}

.o-docmeta {
    margin: rem(-15) 0 $global-margin*2;
}

.o-sidebar-heading {
    display: block;
    margin: 0 0 $global-margin;
    font-size: rem(20);
    font-weight: 700;
}
