$colors: (
    primary: #3b68af, // AA compatible
    light: #ededed,
    gray: #757575, // AA compatible
    alert: #c70000,
    success: #2d8b01,
    warning: #e7c000,
    'header-bg': #3b68af,
    'header-text': #fff, //#4a4a4a,
    'sidebar-bg': #F5F7F9,
    'sidebar-text': #303942,
    'body-bg': #fff,
    'body-text': #222,
    'border': #E6ECF1,
    'link-broken': #5877a7,
);

/*
$dark-colors: (
    primary: #68a2ff, // AA compatible
    light: #ededed,
    gray: #757575, // AA compatible
    alert: #c70000,
    success: #2d8b01,
    warning: #ffae00,
    'header-bg': #052a67,
    'header-text': #fff, //#4a4a4a,
    'sidebar-bg': #141f31,
    'body-bg': #111,
    'body-text': #fff,
    border: #E6ECF1,
);
*/

$breakpoints: (
    small: 0,
    medium: 700px,
    large: 1000px,
    xlarge: 1220px,
    xxlarge: 1300px
);

$global-font-size: 100%;
$global-line-height: 1.6;
$global-width: rem(1200);
$global-margin: rem(15);
$global-radius: rem(3);

$body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$header-height: rem(60);

$main-margin-top: rem(30);

$sidebar-width: rem(320);
$sidebar-breakpoint: 'large';