body {
    background:map-get($colors, 'body-bg');
    font-family: $body-font-family;
    font-weight: 400;
    line-height: $global-line-height;
    color: map-get($colors, 'body-text');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5em 0 $global-margin;
    line-height: 1.3;
}

$min_width: rem(521);
$max_width: rem(1700);

h1 {
    margin-top: rem(30);
    //font-size: rem(45);
    @include fluid-type($min_width, $max_width, rem(30), rem(50));
}

h2 {
    //font-size: rem(30);
    @include fluid-type($min_width, $max_width, rem(22), rem(35));
}

h3 {
    //font-size: rem(26);
    @include fluid-type($min_width, $max_width, rem(20), rem(31));
}

h4 {
    //font-size: rem(22);
    @include fluid-type($min_width, $max_width, rem(18), rem(27));
}

h5 {
    //font-size: rem(20);
    @include fluid-type($min_width, $max_width, rem(16), rem(25));
}

h6 {
    //font-size: rem(18);
    @include fluid-type($min_width, $max_width, rem(16), rem(23));
}


a {
    text-decoration: none;
    color: map-get($colors, primary);
    transition: color .2s ease-in-out;

    &:hover {
        color: lightendarken(map-get($colors, primary), 15%);
    }
}

img {
    // Get rid of gap under images by making them display: inline-block; by default
    display: inline-block;
    vertical-align: middle;

    // Grid defaults to get images and embeds to work properly
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

p {
    margin: 0 0 $global-margin;
    line-height: $global-line-height;
}

code, kbd, samp, pre {
    background-color: map-get($colors, 'inline-code');
    padding: 0.1rem 0.25rem;
}

$blockquoteColor: lightendarken(map_get($colors, 'sidebar-bg'), 17%);
blockquote {
    display: block;
    margin: 0 0 $global-margin;
    padding: rem(15 20);
    border-left: rem(8) solid $blockquoteColor;
    background-color: rgba($blockquoteColor, 0.3);
    border-color: $blockquoteColor;
    color: darken($blockquoteColor, 50%);

    > :last-child {
        margin-bottom: 0;
    }
}
