/******************************************************************************
VARIABLES
******************************************************************************/

/*#region*/

// General colors
$lightBg: #F5F7F9;
$blue: #3572d4;
$darkBlue: #284569;
$darkBlue1: #10243E;
$lightBlue: #3780B3;
$white: #FFFFFF;

// Text colors
$fontColor: #242A31;
$gray: #3B454E;
$linkColor: #3572d4;
$linkHoverColor: #214b68;
$errorColor: #720900;

/* This will make all the relative REMs and EMs change! Set 100% to use browser settings */
$rootFontSize: 18px;
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$rowWidth: 1200px;
$maxContentWidth: 45em;

/*#endregion*/

/******************************************************************************
RESET
******************************************************************************/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************************************************************************
ROOT STYLES
******************************************************************************/

/*#region*/

body {
  font-family: $fontFamily;
  font-size: $rootFontSize;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  color: $fontColor;
  color: #3B454E;
  letter-spacing: 0.0em;
  background: $lightBg;
  padding-top: 100px; // Room for fixed header
}

a {
  color: $linkColor;
  text-decoration: none;
  &:hover,
  &:active {
    text-decoration: underline;
    color: hsl(217.10000000000002, 100%, 42.7%);
  }

  &.link__broken {
    color: $errorColor;
  }
  &.link__external {
    position: relative;
    padding-right: 1.25rem;
    &:after {
      content: url(../../images/external-link.svg);
      position: absolute;
      right: 0;
      height: 1rem;
      width: 1rem;
      top: 0;
      bottom: 0;
    }
  }
}

p,
pre {
  line-height: 1.5rem;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

pre,
code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre {
  overflow-x: scroll;
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-weight: 700;
  color: rgb(36, 42, 49);
}

h1 {
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.1875rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.125rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1.0625rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 40em) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 1rem;
  }
}

table {
  border: 1px solid #aaa;
  border-collapse: collapse;
  margin-top: 1.5rem;
  max-width: 100%;
  border-radius: 5px;
  thead {
    background-color: #eee;
    text-align: left;
  }
  td,
  th {
    padding: 0.5em 1em;
    border-bottom: 1px solid #ccc;
  }
}

/*#endregion*/

/******************************************************************************
MODULES
******************************************************************************/

/*#region*/

/* Header Bar */

.header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  border-bottom: 1px solid #d4dadf;
  background-color: $white;
  z-index: 1;
  &__inner {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1448px;
  }
  &__logo {
    flex: 0 0 auto;
    position: relative;
  }
  &__menu {
    flex: 1 1 auto;
    text-align: right;
  }
  &__hamburger {
    display: none;
    position: absolute;
    top: 36px;
    right: 20px;
    cursor: pointer;
  }
}

.mainMenu {
  &__wrap {
    padding: 0;
    margin: 0;
  }
  &__item {
    display: inline-block;
  }
  &__link {
    padding: 0 16px;
    color: $blue;
    outline: none;
    white-space: nowrap;
    border-color: transparent;
    text-decoration: none;
    font-size: 16px;
    line-height: 1em;
    font-weight: 500;
    transition: all 250ms ease-out;

    &:hover {
      text-decoration: none;
    }
  }
}

@media (max-width: 700px) {
  .header {
    &__inner {
      display: block;
      padding: 10px 0;
    }
    &__logo {
      margin: 0 auto;
      z-index: 5;
    }
    &__menu {
      position: absolute;
      left: 60px;
      right: 60px;
      text-align: center;
      z-index: 1;
      background-color: $darkBlue;
      box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, .4);
      transform: translateY(-100%);
      opacity: 0;
      transition: transform .6s ease-out, opacity .6s ease-out;
      padding: 14px 0;
      background-color: #E6ECF1;
      .mainMenu__link{
        color: #242A31;
      }
    }
    &__menu--active {
      transform: translateY(0);
      opacity: 1;
    }
    &__hamburger {
      display: block;
    }
  }
  .mainMenu {
    &__wrap {
      margin: 0 auto;
    }
    &__item {
      display: block;
    }
  }
}

/* The MODX logo*/

.logo {
  width: 200px;
  &__img {
    border: none;
    outline: none;
  }
}

// Generic body container
.container {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: $lightBg;
}

// Two column split
.content-container {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: margin-bottom 250ms ease;
  align-items: stretch;
}

.sidebar {
  flex: 0 0 auto;
  width: calc((100% - 1448px) / 2 + 298px);
  display: flex;
  min-width: 298px;
  background: $lightBg;
  align-items: stretch;
  padding-left: calc((100% - 1448px) / 2);
  border-right: 1px solid #E6ECF1;
  flex-direction: column;
  &__inner {
    flex: 0 1 auto;
    padding-right: 15px;
    margin-top: 20px;
  }
  &__heading {
    font-size: 1.5rem;
    color: $white;
    a {
      text-decoration: none;
      color: #5C6975;
      margin-left: 0px;
      border-left-color: transparent;
      &:hover {
        color: #fcc;
      }
    }
  }
}

// For sidebar button to expand
/*

.content {
  flex: 0 1 400px;
  margin-right: -415px;
}

.sidebar {
  flex: 1 0 100%;
  margin-left: 0;
}



*/

@media (max-width: 700px) {
  .sidebar {
    flex: 0 0 250px;
    margin-left: -250px;
  }
}

.content {
  flex: 1 1 auto;
  margin: 0;
  display: flex;
  padding: 0;
  min-width: 0;
  max-width: 100%;
  background: $white;
  flex-direction: column;
  padding-bottom: 64px;
  &__inner {
    // max-width: $maxContentWidth;
    padding: 20px 40px;
    h2 {
      display: inline-block;
      border-radius: 12px;
    }
  }
  img {
    max-width: 100%;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 3px;
  }
  ul, ol {
    padding-left: 20px;
    li{
      a{
        color: #74818D;
        &:hover{
          color: hsl(217.10000000000002, 100%, 42.7%);
          text-decoration: none;
        }
      }
    }
  }
}

.single-column{
  max-width: 1448px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  .content{
    background: transparent;
    margin-right: -15px;
    margin-left: -15px;
  }
}

.nav-menu-wrapper {
  & .nav-item-1 {
    font-size: 1rem;
  }
  & .nav-item-2 {
    font-size: .9rem;
    line-height: 1rem;
  }
  & & {
    margin-left: 4px;
    padding-left: 6px;
    border-left: 1px solid rgba(255, 255, 255, .2);
  }
  .item {
    list-style-type: none;
    &:last-child{
      margin-bottom: 20px;
    }
    a {
      display: inline-block;
      color: #5C6975;
      margin-left: 0px;
      text-decoration: none;
      cursor: pointer;
      padding: 7px 24px 7px 16px;
      border: 0;
      &:hover {
        color: rgb(56, 132, 255);
      }
    }
    &.has-children>a {
      font-weight: bold;
    }
  }
  & li:not(.has-children) a:hover {
    background-color: rgba(255, 255, 255, .2);
  }
}

.footerSection {
  padding: 20px;
  color: #9DAAB6;
  border-radius: 3px;
  background-color: #E6ECF1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  &__wrap {
    max-width: $rowWidth;
  }

  .footer__menu {
      padding: 0;
      margin: 0;
    .footer__item {
      display: inline-block;
    }
    .footer__link {
      padding: 0 16px;
      color: $blue;
      outline: none;
      white-space: nowrap;
      border-color: transparent;
      text-decoration: none;
      font-size: 16px;
      line-height: 1em;
      font-weight: 500;
      transition: all 250ms ease-out;
  
      &:hover {
        text-decoration: none;
      }
    }
  }
}



/*#endregion*/

/******************************************************************************
TYPOGRAPHY
******************************************************************************/

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bg-grey {
  background-color: #eee;
}

.toc {
  margin: 1rem 0;
  .toc__inner {
    padding: 0 1rem;
    border-left: 2px solid rgb(56, 132, 255);;
  }
  p {
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
  ul {
    padding: 0;
  }
  li {
    font-size: .9rem;
    list-style: none;
    padding: 4px 16px;
    padding-left: 20px;
    &.first{
      padding-top: 0;
    }
  }
  li li {
    padding-left: 20px;
    padding-bottom: 0;
  }
}

/******************************************************************************
ELEMENTS
******************************************************************************/

/* Code blocks */

code {
  vertical-align: baseline;
  background: $white;
  padding: 0.125em 0.33em;
}

/* Leading paragraph text */

.lead {
  font-size: 1.414rem;
}

/* Hug the block above you */

.hug {
  margin-top: 0;
}

.btn {
  background-color: #4187c8;
  color: $white;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 0.5em 1em;
  display: inline-block;
  text-decoration: none;
  &:hover,
  &:focus {
    border-color: #0b1b6b;
    color: $white;
  }
  &.full {
    display: block;
    width: 100%;
  }
}

.doc-note {
  border: 1px solid $darkBlue;
  border-radius: 5px;
  background: $lightBlue;
  padding: 1em;
  color: $white;
  margin-bottom: 1rem;

  &__delete {
    border-color: #6a0008;
    background: #93262a;
  }
}

