{% extends "layout.twig" %}

{% block title %}Welcome to MODX - unleash your Creative Freedom{% endblock %}

{% block content %}
    <div class="wf wf-image" style="width: 100%; min-height: 400px;">
        <h1 style="padding-right: 25%; margin: 3em 3em 0; font-size: 3em; line-height: 1.6em;">Welcome ot the fantastic documentation.</h1>
        <br>

        <div class="wf-inline-blocks" style="padding: 1em 3em 3em 8em;">
            <div class="text-center">
                <a href="#" class="wf wf-btn full">Download MODX</a>
                <small>Version 2.6.1</small>
            </div>
        </div>
    </div>
{% endblock %}