{% extends "layout.twig" %}

{% block title %}{{ page_title }}{% endblock %}

{% block meta %}
    <base href="{{ settings.directory }}">
{% endblock %}

{% block content %}
    <div class="single-column">
        <div class="content p-2">
            <h1>Oops, page not found</h1>
            <p>We're sorry, but it appears that you've come across a broken link.</p>

            <p>
                <a href="https://github.com/Mark-H/Docs/issues/new?title=Page+not+found+on+{{ req_url }}&template=not-found.md" target="_blank" rel="noopener" class="btn">Report broken link on GitHub</a>
            </p>
        </div>
    </div>
{% endblock %}